.cardWrapper{
}

.card{
  max-width: 95vw;
}

.card-title{
  text-align: center;
  text-decoration: underline;
}

.card-img-top{
  /* max-width: 90%; */
  width:auto;
  max-height: 20vh;
  display: flex;
  margin: 0 auto;
}
.card-body{
  color : #555555;
}
.card-body > a {
  display:flex;
  justify-content: center;
}

.card-footer{
  font-size:11px;
  background-color:#ffffff;
  text-align: center;
}

.swiper-container{
  width:95%;
}

.swiper-scrollbar-drag {
  height: 100%;
  width: 100%;
  position: relative;
  background: #c0c0c0;
  border-radius: 10px;
  left: 0;
  top: 0;
}
