.heading{
  color : #000000;
  border-bottom: solid 3px black;
}

#toc_container {
    background: #f9f9f9 none repeat scroll 0 0;
    border: 1px solid #aaa;
    display: table;
    font-size: 95%;
    margin-bottom: 1em;
    margin-left: 1em;
    padding: 10px;
    width: auto;
}

.toc_title {
    font-weight: 700;
    /* text-align: center; */
}

#toc_container li, #toc_container ul, #toc_container ul li{
    list-style-position: outside;
    margin-left: 1em;
    margin-right: 1em;
    padding-left: 0;
    /* リストの記号を付けない場合は
     list-style: outside none none !important;
    */
}

pre, code {
    white-space: pre;
    overflow-x: scroll;
}
.hljs {
    display: inline-block;
    overflow-x: scroll;
    padding: 0.5em;
    padding-right: 100%;
    background: #002b36;
    color: #839496;
    -webkit-text-size-adjust: none;
}
