<IfModule mod_rewrite.c>
    RewriteEngine On
    #RewriteCond %{REMOTE_ADDR} !^::1 指定したipアドレスのみ受け付ける
    #RewriteRule ^(css/.*|js/.*|img/.*|font/.*|favicon.ico)$ error [L]
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.php [L]
</IfModule>
